.pix-pagamento {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
   
}

.pagamento {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pagar-btn {
    margin-top: 10px; 
}
